.card-block{
    margin-left: 9px;
    margin-top: 8px;
}

.float-right{
    margin-right: 13px;
    margin-top: 3px;
}

.text-right{
    margin-top: 5px;
    margin-right: 13px;
}

.card{
    margin-bottom: 30px;
}

.img-responsive{
    height: 450px;
}

#delete-form{
    display: inline;
}

#botbuttons{
    margin-bottom: 8px;
}